<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Cursos</h1>
    <p><a href="{% url 'curso_cadastrar' %}">Cadastrar Curso</a></p>

    <p>Lista de Cursos:</p>
    {% for curso in todos_cursos %}
    <p>
        Título do Curso: {{curso.titulo}} 
        Vagas: {{curso.vagas}}
            <a href="{% url 'editar_curso' curso.id %}">EDITAR</a>
            <a href="{% url 'remover_curso' curso.id %}">REMOVER</a>
    </p>
    {% empty %}
    <p>Nenhum curso cadastrado</p>
    {% endfor %}
</body>
</html>