{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style type="text/css">
        .cor
        {
            border-radius: 5px;
            background-color: rgb(140, 140, 140);
        }
    </style>
</head>
<body>
    <h1>Cadastrar Curso</h1>
    <form method="post">
        {% csrf_token %}
        <p> {{form_curso.titulo.label}}: {% render_field form_curso.titulo placeholder='Abreviado' class='cor' %}</p>
        <p> {{form_curso.vagas.label}}:  {% render_field form_curso.vagas placeholder='Vagas' class='cor' %}    </p>
        <p><input type="submit" value="Cadastrar" /></p>
    </form>
</body>
</html>